[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alphavantager"]
	path = alphavantager
	url = https://github.com/business-science/alphavantager
[submodule "correlationfunnel"]
	path = correlationfunnel
	url = https://github.com/business-science/correlationfunnel
[submodule "modeltime"]
	path = modeltime
	url = https://github.com/business-science/modeltime
[submodule "modeltime.ensemble"]
	path = modeltime.ensemble
	url = https://github.com/business-science/modeltime.ensemble
[submodule "modeltime.resample"]
	path = modeltime.resample
	url = https://github.com/business-science/modeltime.resample
[submodule "riingo"]
	path = riingo
	url = https://github.com/business-science/riingo
[submodule "sweep"]
	path = sweep
	url = https://github.com/business-science/sweep
[submodule "tibbletime"]
	path = tibbletime
	url = https://github.com/business-science/tibbletime
[submodule "tidyquant"]
	path = tidyquant
	url = https://github.com/business-science/tidyquant
[submodule "timetk"]
	path = timetk
	url = https://github.com/business-science/timetk
